<div class="grid c2">
  <div class="card">
    <div class="toolbar">
      <b>字典类型</b>
      <span class="sp"></span>
      {{#if canCreate}}<a class="btn sm primary" href="/admin/system/dicts/typeform" data-dialog>新增类型</a>{{/if}}
    </div>
    <table class="table">
      <thead><tr><th style="width:150px">标识</th><th>名称</th><th class="mid" style="width:64px">状态</th><th class="ops">操作</th></tr></thead>
      <tbody>
        {{#each types}}
        <tr class="{{active}}">
          <td class="mono"><a href="/admin/system/dicts?type={{code}}" data-load>{{code}}</a></td>
          <td>{{name}}</td>
          <td class="mid"><span class="tag {{statusClass}}">{{statusText}}</span></td>
          <td class="ops">
            {{#if canUpdate}}<a href="/admin/system/dicts/typeform?id={{id}}" data-dialog>编辑</a>{{/if}}
            {{#if canDelete}}<a href="#" data-post="/admin/system/dicts/typedelete" data-args="id={{id}}" data-confirm="删除类型会一并删除其条目，确定吗？">删除</a>{{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{#if emptyTypes}}<div class="empty">还没有字典类型</div>{{/if}}
  </div>

  <div class="card">
    <div class="toolbar">
      <b>条目</b><span class="mono muted">{{type}}</span>
      <span class="sp"></span>
      {{#if canCreate}}<a class="btn sm primary" href="/admin/system/dicts/itemform?type={{type}}" data-dialog>新增条目</a>{{/if}}
    </div>
    <table class="table">
      <thead><tr><th>显示名</th><th style="width:120px">值</th><th class="num" style="width:64px">排序</th><th class="mid" style="width:64px">状态</th><th class="ops">操作</th></tr></thead>
      <tbody>
        {{#each items}}
        <tr>
          <td>{{label}}</td>
          <td class="mono">{{value}}</td>
          <td class="num">{{sortOrder}}</td>
          <td class="mid"><span class="tag {{statusClass}}">{{statusText}}</span></td>
          <td class="ops">
            {{#if canUpdate}}<a href="/admin/system/dicts/itemform?id={{id}}" data-dialog>编辑</a>{{/if}}
            {{#if canDelete}}<a href="#" data-post="/admin/system/dicts/itemdelete" data-args="id={{id}}" data-confirm="确定删除该条目吗？">删除</a>{{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{#if emptyItems}}<div class="empty">该类型下还没有条目</div>{{/if}}
  </div>
</div>
