<div class="card">
  <form class="toolbar" data-search action="/admin/system/roles">
    <input class="input w160" type="search" name="kw" value="{{kw}}" placeholder="搜索角色">
    <button class="btn sm" type="submit">查询</button>
    <a class="btn sm" href="/admin/system/roles" data-load>重置</a>
    <span class="sp"></span>
    {{#if canCreate}}<a class="btn sm primary" href="/admin/system/roles/form" data-dialog>新增角色</a>{{/if}}
  </form>
  <table class="table">
    <thead>
      <tr>
        <th class="num" style="width:56px">ID</th>
        <th style="width:150px">名称</th>
        <th style="width:150px">标识</th>
        <th>说明</th>
        <th style="width:104px">数据权限</th>
        <th class="num" style="width:64px">排序</th>
        <th class="num" style="width:72px">权限数</th>
        <th class="num" style="width:72px">成员数</th>
        <th class="mid" style="width:64px">状态</th>
        <th class="ops">操作</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
      <tr>
        <td class="num muted">{{id}}</td>
        <td>{{name}}</td>
        <td class="mono muted">{{code}}</td>
        <td class="ellip">{{description}}</td>
        <td class="muted">{{scope}}</td>
        <td class="num">{{rank}}</td>
        <td class="num">{{perms}}</td>
        <td class="num">{{users}}</td>
        <td class="mid"><span class="tag {{statusClass}}">{{statusText}}</span></td>
        <td class="ops">
          {{#if canUpdate}}<a href="/admin/system/roles/grant?id={{id}}" data-dialog data-wide>授权</a>{{/if}}
          {{#if canUpdate}}<a href="/admin/system/roles/form?id={{id}}" data-dialog>编辑</a>{{/if}}
          {{#if canDelete}}<a href="#" data-post="/admin/system/roles/delete" data-args="id={{id}}" data-confirm="确定删除该角色吗？">删除</a>{{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if empty}}<div class="empty">还没有角色</div>{{/if}}
  <div class="pager">
    <span>共 {{total}} 条 · 第 {{page}}/{{pages}} 页</span>
    <span class="sp"></span>
    {{#if prev}}<a class="btn sm" href="?page={{prev}}&kw={{kw}}" data-load>上一页</a>{{/if}}
    {{#if next}}<a class="btn sm" href="?page={{next}}&kw={{kw}}" data-load>下一页</a>{{/if}}
  </div>
</div>
