<form data-submit action="/admin/game/realms/save">
  <input type="hidden" name="id" value="{{id}}">
  <div class="card">
    <header>{{dialogTitle}}</header>
    <div class="body form">
      <label>区服名称</label><input class="input" name="name" value="{{name}}" maxlength="64" required>
      <label>状态</label>
      <select class="input" name="state">
        <option value="0" {{state0}}>开放（可进入）</option>
        <option value="1" {{state1}}>维护（拒绝进入）</option>
      </select>
      <label>排序</label><input class="input" type="number" name="sort" value="{{sort}}" placeholder="越小越靠前">
    </div>
  </div>
</form>
