<div class="card">
  <form class="toolbar" data-search action="/admin/crm/customers">
    <input class="input w160" type="search" name="kw" value="{{kw}}" placeholder="搜索客户名称">
    <button class="btn sm" type="submit">查询</button>
    <a class="btn sm" href="/admin/crm/customers" data-load>重置</a>
    <span class="sp"></span>
    {{#if canExport}}<a class="btn sm" href="/admin/crm/customers/export" data-export>导出</a>{{/if}}
    {{#if canCreate}}<a class="btn sm" href="/admin/crm/customers/template" data-export>模板</a>
    <a class="btn sm" href="/admin/crm/customers/import" data-dialog>导入</a>
    <a class="btn sm primary" href="/admin/crm/customers/form" data-dialog>新增客户</a>{{/if}}
  </form>
  <table class="table">
    <thead>
      <tr>
        <th class="num" style="width:56px">ID</th>
        <th style="width:200px">名称</th>
        <th style="width:120px">联系人</th>
        <th style="width:140px">电话</th>
        <th class="mid" style="width:80px">等级</th>
        <th class="ops">操作</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
      <tr>
        <td class="num muted">{{id}}</td>
        <td>{{name}}</td>
        <td>{{contact}}</td>
        <td>{{phone}}</td>
        <td class="mid"><span class="tag">{{levelText}}</span></td>
        <td class="ops">
          {{#if canUpdate}}<a href="/admin/crm/customers/form?id={{id}}" data-dialog>编辑</a>{{/if}}
          {{#if canDelete}}<a href="#" data-post="/admin/crm/customers/delete" data-args="id={{id}}" data-confirm="确定删除该客户吗？">删除</a>{{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if empty}}<div class="empty">还没有客户，点右上角「新增客户」创建第一个</div>{{/if}}
  <div class="pager">
    <span>共 {{total}} 条 · 第 {{page}}/{{pages}} 页</span>
    <span class="sp"></span>
    {{#if prev}}<a class="btn sm" href="?page={{prev}}&kw={{kw}}" data-load>上一页</a>{{/if}}
    {{#if next}}<a class="btn sm" href="?page={{next}}&kw={{kw}}" data-load>下一页</a>{{/if}}
  </div>
</div>
